.levelButtonGroup button:focus {
  box-shadow: none;
}

.colorSubmits {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 1em auto;
  text-align: center;
}

.colorSubmitsButton {
  margin: 0 .5em;
  width: 64px;
  height: 64px;
  padding: 7px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  text-shadow: 0 1px 0 #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition: all 150ms;

  &:hover {
    background: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
    text-shadow: 0 1px 0 #fff;
  }
  &:focus {
    box-shadow: 0 0 12px #787878;
  }
  &:disabled {
    opacity: 0.3;
  }
}

.colorSubmitsButton i {
  display: block;
  padding: 0;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;

}

.whiteButton i {
  background-image: url(https://lichess1.org/assets/_Kx9xhU/piece/cburnett/wK.svg);
}

.blackButton i {
  background-image: url(https://lichess1.org/assets/_Kx9xhU/piece/cburnett/bK.svg);
}

.randomButton {
  width: 85px;
  height: 85px;
  padding: 10px;
}

.randomButton i {
  background-image: url(https://lichess1.org/assets/_Kx9xhU/images/wbK.svg);
  background-size: 65px 65px;
  width: 65px;
  height: 65px;
}
